---
import { Button } from "$lib/components/ui/button";

import Accordion from "$lib/components/Accordion.svelte";
import Tool from "$lib/components/Tool.svelte";
import Month from "$lib/components/Month.svelte";

import { Image } from "astro:assets";

import binder_pos_logo from "src/images/logos/binder-pos-logo.png";
import channelfireball_logo from "src/images/logos/channelfireball-logo.png";
import contact_logo from "src/images/logos/contact-logo.png";
import creativehq_logo from "src/images/logos/creativehq-logo.png";
import gbpn_logo from "src/images/logos/gbpn-logo.png";
import lightning_lab_logo from "src/images/logos/lightning-lab-logo.png";
import shopify_logo from "src/images/logos/shopify-logo.png";
import steven_bartlett from "src/images/steven-bartlett.webp"

import side_photo from "src/images/new-side-photo.png";

import bg_mockups from "src/images/bg-mockups.png";

let { title } = Astro.props;

import Layout from "$lib/layouts/Layout.astro";

import ServiceGrid from "$lib/components/ServiceGrid.svelte";

let tools = [
    "Figma",
    "Linear",
    "Typescript",
    "Swelte/SwelteKit",
    "PostgreSQL",
    "Supabase",
    "React",
    "Next.js",
];

let faqs = [
    { question: "What is your design process?", answer: "..." },
    { question: "How do you handle revisions and feedback?", answer: "..." },
    { question: "Can you work with our existing dev team?", answer: "..." },
    { question: "What are your rates and payment terms?", answer: "..." },
    {
        question: "What is your availability and turnaround time?",
        answer: "...",
    },
    { question: "Is there on-going support after resolution?", answer: "..." },
    { question: "Are your designs user-friendly & accessible?", answer: "..." },
];
---

<Layout title="Rectangle Services — Product Design & Strategy Consultancy">
    <div
        class="flex md:hidden fixed z-20 bottom-0 left-0 w-full border border-t border-neutral-300 border-dashed bg-neutral-50 bg-opacity-50 backdrop-blur-md p-4 gap-4"
    >
        <Button href="#services" class="w-full" variant="outline"
            >Services</Button
        >
        <Button href="/book-a-call" class="w-full">Book a call -&gt;</Button>
    </div>
    <div
        class="flex flex-col gap-10 col-span-3 md:col-span-8 md:grid md:grid-cols-8 md:gap-y-6 md:gap-x-0 md:auto-rows-min md:pb-16"
    >
        <div
            class="hidden md:block md:col-start-7 md:col-span-2 md:row-start-1 relative"
        >
            <Image
                src={side_photo}
                loading={"eager"}
                alt="A black and white portait of me sat on a chair, looking to the right—there's a faint hint that I might be thinking about something profound, but unfortunately, I can assure you that I was not."
                class="w-full absolute top-0 left-0 object-cover "
            />
        </div>
        <div class="sm:col-span-2 md:col-span-4 md:row-start-1">
            <h1 class="text-5xl font-black inline-block mb-5">
                Hi, my name is Charlie <span class="inline-block"
                    ><svg
                        width="31"
                        height="34"
                        viewBox="0 0 31 34"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M0.484333 23.7031C0.203083 18.5938 4.28121 15.4531 8.54683 13.8594C7.14058 12.5469 5.68746 10.7188 5.59371 8.70313C5.35933 3.6875 10.6562 0.921879 14.9218 0.687504C17.4062 0.546879 23.5937 0.968754 23.7343 4.10938C23.875 6.875 22.6093 10.8125 20.7812 10.9063C19.2343 11 19.4687 4.8125 13.1875 5.70313C10.8437 6.03125 8.73433 7.67188 8.87496 10.25C8.92183 11.375 9.48433 12.3125 10.2343 13.1094C10.9843 12.7344 12.0156 12.5469 13.0468 12.5469C14.9218 12.5469 16.7968 13.2031 16.8906 14.6563C16.9843 16.4375 15.9062 17.0938 14.5468 17.0938C12.8125 17.0938 10.6093 16.0156 9.81246 15.125C7.74996 16.4844 6.76558 18.4531 6.90621 20.9844C7.14058 26.0469 10.8437 29.7969 15.9531 29.8906C19.75 29.9375 25.5625 28.2969 25.5625 22.8594C25.5625 20.375 23.875 19.8594 22.6562 19.625C18.8125 20.7969 14.5937 22.7188 17.4531 26.1875L16.7031 27.0313C9.39058 18.875 18.6718 15.7813 24.25 13.4375C27.3437 12.1719 26.4531 8.75 24.0156 8.79688L24.1562 7.57813C30.8125 6.875 32.8281 15.8281 27.625 18.3125C28.3281 19.3906 28.8437 21.0781 28.7031 23.0469C28.1875 30.3594 20.0781 33.2188 14.6406 33.5C8.64058 33.8281 0.999958 31.5313 0.484333 23.7031Z"
                            fill="#171717"></path>
                    </svg>
                </span> I’m a Principal Product Designer
            </h1>
        </div>
        <div class="md:col-span-3 md:col-start-3 md:row-start-2 md:h-fit">
            <p>
                I work with industry leaders, startup founders, and established SaaS companies to transform their design from a bottleneck into a force multiplier.
            </p>
        </div>
    
        <!-- <div
            class="border border-dashed border-neutral-300 bg-white grid grid-cols-3 py-1 md:col-span-3 md:col-start-3 md:row-start-3 md:h-fit"
        >
            <Month availability={false} month="October">October</Month>
            <Month availability={true} month="November">November</Month>
            <Month availability={true} month="December">December</Month>
        </div> -->
        <div
            class="hidden md:block md:col-span-1 md:col-start-5 md:row-start-4"
        >
            <Button href="/book-a-call" class="w-full">Book a call -&gt;</Button
            >
        </div>
    </div>

    <div
        class="col-span-3 md:col-span-8 px-5 border border-dashed border-neutral-300 bg-neutral-50"
    >
        <div class="marquee marquee--7">
            <Image
                src={shopify_logo}
                alt="Brandmark"
                loading={"eager"}
                width={240}
                class="marquee__item w-[120px]"
            />
            <Image
                src={contact_logo}
                alt="Brandmark"
                loading={"eager"}
                width={240}
                class="marquee__item w-[120px]"
            />
            <Image
                src={creativehq_logo}
                alt="Brandmark"
                loading={"eager"}
                width={240}
                class="marquee__item w-[120px]"
            />
            <Image
                src={lightning_lab_logo}
                alt="Brandmark"
                loading={"eager"}
                width={240}
                class="marquee__item w-[120px]"
            />
            <Image
                src={channelfireball_logo}
                alt="Brandmark"
                loading={"eager"}
                width={240}
                class="marquee__item w-[120px]"
            />
            <Image
                src={gbpn_logo}
                alt="Brandmark"
                loading={"eager"}
                width={240}
                class="marquee__item w-[120px]"
            />
            <Image
                src={binder_pos_logo}
                alt="Brandmark"
                loading={"eager"}
                width={240}
                class="marquee__item w-[120px]"
            />
        </div>
    </div>
    <div
        class="bg-neutral-50 border border-neutral-300 border-dashed col-span-3 md:col-span-8 gap-5 flex flex-col md:p-20 md:pb-10 md:gap-10 relative overflow-hidden"
    >
        <div
            class="hidden md:block absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full h-full"
        >
            <Image
                src={bg_mockups}
                loading={"eager"}
                alt="Example mockups of product design work that I've completed in the past"
            />
        </div>
        <div
            class="bg-white border-b md:border border-dashed border-neutral-300 px-5 py-10 md:p-20 w-fit mx-auto md:bg-[#fff0] md:bg-opacity-50 md:backdrop-blur-lg"
        >
            <div
                class="text-base md:text-2xl font-semibold text-netural-900 text-center w-fit leading-relaxed md:leading-9"
            >
                Charlie became a trusted extension of our team—it felt like he had worked with us for years. He worked at the speed of light to help us launch an important project. He is now my go-to contact for everything product design.
            </div>
        </div>
        <div
            class="flex md:flex-col gap-5 md:gap-10 items-center place-self-center pb-5"
        >
        <div class="flex flex-col justify-center items-center gap-2">
            <Image
        class="relative z-100 size-20"
        src={steven_bartlett}
        loading={"eager"}
        width={200}
        height={200}
        alt="A portrait photo of Steven Bartlett, a British Entrepreneur"
        />
            <div class="text-center flex flex-col items-center justify-center gap-2">
                <p class="text-neutral-900 font-semibold text-2xl">Steven Bartlett</p>
                <p class="px-4 md:px-0">Diary Of A CEO • Founder, Flight Story • Investor: Whoop, SpaceX, Huel</p>
            </div>
        </div>
        </div>
    </div>
    <div class="flex flex-col gap-y-20 col-span-3 md:col-span-8">
        <div
            class="md:grid md:grid-cols-8 flex flex-col gap-10 md:gap-y-20 md:gap-x-0"
            id="services"
        >
            <h2
                class="text-4xl font-bold text-neutral-900 md:row-start-1 md:col-span-3 md:col-start-2"
            >
                Services
            </h2>
            <ul
                class="flex flex-col gap-10 md:row-start-2 md:col-span-3 md:col-start-2"
            >
                <li class="flex flex-col gap-4">
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <mask
                            id="mask0_45_20346"
                            style="mask-type:alpha"
                            maskUnits="userSpaceOnUse"
                            x="0"
                            y="0"
                            width="24"
                            height="24"
                        >
                            <rect width="24" height="24" fill="#D9D9D9"></rect>
                        </mask>
                        <g mask="url(#mask0_45_20346)">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M20.45 18.2267H3.54998C2.89998 18.2267 2.37498 17.9684 1.97498 17.4517C1.57498 16.9351 1.45832 16.3601 1.62498 15.7267L2.99998 10.2267V8.22675C2.99998 7.67675 3.19582 7.20591 3.58748 6.81425C3.97915 6.42258 4.44998 6.22675 4.99998 6.22675H19C19.55 6.22675 20.0208 6.42258 20.4125 6.81425C20.8041 7.20591 21 7.67675 21 8.22675V10.2267L22.375 15.7267C22.5916 16.3601 22.4958 16.9351 22.0875 17.4517C21.6791 17.9684 21.1333 18.2267 20.45 18.2267ZM19 10.2267H4.99998V8.22675H19V10.2267ZM5.99998 16.2267H3.54998L4.54998 12.2267H19.45L20.45 16.2267H18V14.2267C18 13.9434 17.9041 13.7059 17.7125 13.5142C17.5208 13.3226 17.2833 13.2267 17 13.2267C16.7166 13.2267 16.4791 13.3226 16.2875 13.5142C16.0958 13.7059 16 13.9434 16 14.2267V16.2267H13V14.2267C13 13.9434 12.9041 13.7059 12.7125 13.5142C12.5208 13.3226 12.2833 13.2267 12 13.2267C11.7166 13.2267 11.4791 13.3226 11.2875 13.5142C11.0958 13.7059 11 13.9434 11 14.2267V16.2267H7.99998V14.2267C7.99998 13.9434 7.90415 13.7059 7.71248 13.5142C7.52082 13.3226 7.28332 13.2267 6.99998 13.2267C6.71665 13.2267 6.47915 13.3226 6.28748 13.5142C6.09582 13.7059 5.99998 13.9434 5.99998 14.2267V16.2267Z"
                                fill="#404040"></path>
                        </g>
                    </svg>
                    <h3 class="text-2xl font-black text-neutral-800">
                        Product polishing
                    </h3>
                    <p>
                        You’ve worked hard to build your product, but it’s
                        lacking a certain level of polish—I’ll buff it up.
                    </p>
                </li>
                <li class="flex flex-col gap-4">
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <mask
                            id="mask0_45_20240"
                            style="mask-type:alpha"
                            maskUnits="userSpaceOnUse"
                            x="0"
                            y="0"
                            width="24"
                            height="24"
                        >
                            <rect width="24" height="24" fill="#D9D9D9"></rect>
                        </mask>
                        <g mask="url(#mask0_45_20240)">
                            <path
                                d="M8.8 10.95L10.95 8.775L9.55 7.35L8.45 8.45L7.05 7.05L8.125 5.95L7 4.825L4.825 7L8.8 10.95ZM17 19.175L19.175 17L18.05 15.875L16.95 16.95L15.55 15.55L16.625 14.45L15.2 13.05L13.05 15.2L17 19.175ZM7.25 21H3V16.75L7.375 12.375L2 7L7 2L12.4 7.4L16.175 3.6C16.375 3.4 16.6 3.25 16.85 3.15C17.1 3.05 17.3583 3 17.625 3C17.8917 3 18.15 3.05 18.4 3.15C18.65 3.25 18.875 3.4 19.075 3.6L20.4 4.95C20.6 5.15 20.75 5.375 20.85 5.625C20.95 5.875 21 6.13333 21 6.4C21 6.66667 20.95 6.92083 20.85 7.1625C20.75 7.40417 20.6 7.625 20.4 7.825L16.625 11.625L22 17L17 22L11.625 16.625L7.25 21ZM5 19H6.4L16.2 9.225L14.775 7.8L5 17.6V19Z"
                                fill="#1C1B1F"></path>
                        </g>
                    </svg>
                    <h3 class="text-2xl font-black text-neutral-800">
                        Full product design
                    </h3>
                    <p>
                        You’re looking to quickly and reliably get a set of
                        high-fidelity mockups and prototypes. Look no further.
                    </p>
                </li>
                <li class="flex flex-col gap-4">
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <mask
                            id="mask0_45_20366"
                            style="mask-type:alpha"
                            maskUnits="userSpaceOnUse"
                            x="0"
                            y="0"
                            width="24"
                            height="24"
                        >
                            <rect width="24" height="24" fill="#D9D9D9"></rect>
                        </mask>
                        <g mask="url(#mask0_45_20366)">
                            <path
                                d="M19 21C18.35 21 17.7667 20.8125 17.25 20.4375C16.7333 20.0625 16.375 19.5833 16.175 19H11C9.9 19 8.95833 18.6083 8.175 17.825C7.39167 17.0417 7 16.1 7 15C7 13.9 7.39167 12.9583 8.175 12.175C8.95833 11.3917 9.9 11 11 11H13C13.55 11 14.0208 10.8042 14.4125 10.4125C14.8042 10.0208 15 9.55 15 9C15 8.45 14.8042 7.97917 14.4125 7.5875C14.0208 7.19583 13.55 7 13 7H7.825C7.60833 7.58333 7.24583 8.0625 6.7375 8.4375C6.22917 8.8125 5.65 9 5 9C4.16667 9 3.45833 8.70833 2.875 8.125C2.29167 7.54167 2 6.83333 2 6C2 5.16667 2.29167 4.45833 2.875 3.875C3.45833 3.29167 4.16667 3 5 3C5.65 3 6.22917 3.1875 6.7375 3.5625C7.24583 3.9375 7.60833 4.41667 7.825 5H13C14.1 5 15.0417 5.39167 15.825 6.175C16.6083 6.95833 17 7.9 17 9C17 10.1 16.6083 11.0417 15.825 11.825C15.0417 12.6083 14.1 13 13 13H11C10.45 13 9.97917 13.1958 9.5875 13.5875C9.19583 13.9792 9 14.45 9 15C9 15.55 9.19583 16.0208 9.5875 16.4125C9.97917 16.8042 10.45 17 11 17H16.175C16.3917 16.4167 16.7542 15.9375 17.2625 15.5625C17.7708 15.1875 18.35 15 19 15C19.8333 15 20.5417 15.2917 21.125 15.875C21.7083 16.4583 22 17.1667 22 18C22 18.8333 21.7083 19.5417 21.125 20.125C20.5417 20.7083 19.8333 21 19 21ZM5 7C5.28333 7 5.52083 6.90417 5.7125 6.7125C5.90417 6.52083 6 6.28333 6 6C6 5.71667 5.90417 5.47917 5.7125 5.2875C5.52083 5.09583 5.28333 5 5 5C4.71667 5 4.47917 5.09583 4.2875 5.2875C4.09583 5.47917 4 5.71667 4 6C4 6.28333 4.09583 6.52083 4.2875 6.7125C4.47917 6.90417 4.71667 7 5 7Z"
                                fill="#1C1B1F"></path>
                        </g>
                    </svg>
                    <h3 class="text-2xl font-black text-neutral-800">
                        Post-MVP improvement
                    </h3>
                    <p>
                        You’ve launched your MVP, and now it’s time to start
                        iterating and improving. I’ll study your users and
                        iteratively improve your product in high-impact ways.
                    </p>
                </li>
                <li class="flex flex-col gap-4">
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <mask
                            id="mask0_45_20302"
                            style="mask-type:alpha"
                            maskUnits="userSpaceOnUse"
                            x="0"
                            y="0"
                            width="24"
                            height="24"
                        >
                            <rect width="24" height="24" fill="#D9D9D9"></rect>
                        </mask>
                        <g mask="url(#mask0_45_20302)">
                            <path
                                d="M12 22C11.5667 22 11.175 21.8958 10.825 21.6875C10.475 21.4792 10.2 21.2 10 20.85C9.45 20.85 8.97917 20.6542 8.5875 20.2625C8.19583 19.8708 8 19.4 8 18.85V15.3C7.01667 14.65 6.22917 13.7917 5.6375 12.725C5.04583 11.6583 4.75 10.5 4.75 9.25C4.75 7.23333 5.45417 5.52083 6.8625 4.1125C8.27083 2.70417 9.98333 2 12 2C14.0167 2 15.7292 2.70417 17.1375 4.1125C18.5458 5.52083 19.25 7.23333 19.25 9.25C19.25 10.5333 18.9542 11.7 18.3625 12.75C17.7708 13.8 16.9833 14.65 16 15.3V18.85C16 19.4 15.8042 19.8708 15.4125 20.2625C15.0208 20.6542 14.55 20.85 14 20.85C13.8 21.2 13.525 21.4792 13.175 21.6875C12.825 21.8958 12.4333 22 12 22ZM10 18.85H14V17.95H10V18.85ZM10 16.95H14V16H10V16.95ZM9.8 14H11.25V11.3L9.05 9.1L10.1 8.05L12 9.95L13.9 8.05L14.95 9.1L12.75 11.3V14H14.2C15.1 13.5667 15.8333 12.9292 16.4 12.0875C16.9667 11.2458 17.25 10.3 17.25 9.25C17.25 7.78333 16.7417 6.54167 15.725 5.525C14.7083 4.50833 13.4667 4 12 4C10.5333 4 9.29167 4.50833 8.275 5.525C7.25833 6.54167 6.75 7.78333 6.75 9.25C6.75 10.3 7.03333 11.2458 7.6 12.0875C8.16667 12.9292 8.9 13.5667 9.8 14Z"
                                fill="#1C1B1F"></path>
                        </g>
                    </svg>

                    <h3 class="text-2xl font-black text-neutral-800">
                        Design feedback
                    </h3>
                    <p>
                        You’re already somewhere through the design process and
                        want some feedback to gain clarity and confidence.
                    </p>
                </li>
            </ul>
            <h2
                class="text-4xl font-bold text-neutral-900 md:row-start-1 md:col-span-2 md:col-start-6"
            >
                Toolbox
            </h2>
            <div
                class="flex flex-col gap-10 md:row-start-2 md:col-span-2 md:col-start-6"
            >
                <p>
                    As a full-stack developer, I have an edge when designing
                    products that are not just functional and aesthetic, but
                    also technically realistic.
                </p>
                <ul class="flex flex-col gap-4 w-full">
                    <Tool title="Figma">
                        <svg
                            width="20"
                            height="20"
                            viewBox="0 0 20 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <mask
                                id="mask0_45_20322"
                                style="mask-type:luminance"
                                maskUnits="userSpaceOnUse"
                                x="3"
                                y="0"
                                width="14"
                                height="20"
                            >
                                <path
                                    d="M16.6666 0H3.33331V20H16.6666V0Z"
                                    fill="white"></path>
                            </mask>
                            <g mask="url(#mask0_45_20322)">
                                <path
                                    d="M6.66664 20.0002C8.50664 20.0002 9.99999 18.5068 9.99999 16.6668V13.3335H6.66664C4.82665 13.3335 3.33331 14.8268 3.33331 16.6668C3.33331 18.5068 4.82665 20.0002 6.66664 20.0002Z"
                                    fill="#0ACF83"></path>
                                <path
                                    d="M3.33331 9.99995C3.33331 8.15995 4.82665 6.66663 6.66664 6.66663H9.99999V13.3333H6.66664C4.82665 13.3333 3.33331 11.84 3.33331 9.99995Z"
                                    fill="#A259FF"></path>
                                <path
                                    d="M3.33331 3.33332C3.33331 1.49333 4.82665 0 6.66664 0H9.99999V6.66668H6.66664C4.82665 6.66668 3.33331 5.17332 3.33331 3.33332Z"
                                    fill="#F24E1E"></path>
                                <path
                                    d="M10 0H13.3333C15.1733 0 16.6667 1.49333 16.6667 3.33332C16.6667 5.17332 15.1733 6.66668 13.3333 6.66668H10V0Z"
                                    fill="#FF7262"></path>
                                <path
                                    d="M16.6667 9.99995C16.6667 11.84 15.1733 13.3333 13.3333 13.3333C11.4933 13.3333 10 11.84 10 9.99995C10 8.15995 11.4933 6.66663 13.3333 6.66663C15.1733 6.66663 16.6667 8.15995 16.6667 9.99995Z"
                                    fill="#1ABCFE"></path>
                            </g>
                        </svg>
                    </Tool>
                    <Tool title="Linear">
                        <svg
                            width="20"
                            height="20"
                            viewBox="0 0 20 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <g clip-path="url(#clip0_45_20319)">
                                <path
                                    d="M0.245004 12.3046C0.200604 12.1148 0.426604 11.9954 0.564404 12.1332L7.8668 19.4356C8.0048 19.5736 7.8852 19.7996 7.6954 19.755C4.0104 18.8904 1.1094 15.9896 0.245004 12.3046ZM0.000403724 9.3778C-0.00124566 9.4058 0.0030721 9.43383 0.0130711 9.46003C0.02307 9.48624 0.038522 9.51002 0.0584037 9.5298L10.47 19.942C10.5102 19.982 10.5656 20.0034 10.622 20C11.096 19.9702 11.561 19.908 12.0146 19.8146C12.1676 19.7832 12.2206 19.5954 12.1102 19.485L0.515204 7.8896C0.404804 7.7794 0.217004 7.8324 0.185604 7.9854C0.0913524 8.44463 0.0294669 8.9099 0.000403724 9.3778ZM0.842004 5.941C0.825871 5.97757 0.821211 6.01818 0.828638 6.05746C0.836065 6.09674 0.855231 6.13284 0.883604 6.161L13.8388 19.1162C13.8966 19.1742 13.984 19.1912 14.0588 19.1578C14.4146 18.9993 14.7609 18.82 15.0958 18.621C15.1215 18.6056 15.1433 18.5845 15.1595 18.5594C15.1758 18.5342 15.1861 18.5057 15.1896 18.476C15.1931 18.4462 15.1898 18.4161 15.1799 18.3879C15.17 18.3596 15.1537 18.334 15.1324 18.313L1.6872 4.8672C1.6662 4.84583 1.64058 4.82955 1.61232 4.81961C1.58405 4.80968 1.55388 4.80635 1.52412 4.80988C1.49437 4.81342 1.46582 4.82372 1.44066 4.84C1.41551 4.85628 1.39442 4.8781 1.379 4.9038C1.17998 5.23869 1.00074 5.58495 0.842204 5.9408L0.842004 5.941ZM2.5316 3.6148C2.49579 3.57936 2.47491 3.53155 2.47323 3.48119C2.47156 3.43083 2.48922 3.38174 2.5226 3.344C4.356 1.292 7.0222 0 9.9904 0C15.5184 0 20 4.4814 20 10.0096C20 12.9776 18.708 15.644 16.656 17.4772C16.6183 17.5106 16.5692 17.5282 16.5188 17.5266C16.4685 17.5249 16.4206 17.504 16.3852 17.4682L2.5318 3.6148H2.5316Z"
                                    fill="#5E6AD2"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0_45_20319">
                                    <rect
                                        width="19.9999"
                                        height="20.0004"
                                        fill="white"></rect>
                                </clipPath>
                            </defs>
                        </svg>
                    </Tool>
                    <Tool title="Typescript">
                        <svg
                            width="20"
                            height="20"
                            viewBox="0 0 20 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <g clip-path="url(#clip0_45_20269)">
                                <path
                                    d="M1.5625 0H18.4375C19.3005 0 20 0.699531 20 1.5625V18.4375C20 19.3005 19.3005 20 18.4375 20H1.5625C0.699531 20 0 19.3005 0 18.4375V1.5625C0 0.699531 0.699531 0 1.5625 0Z"
                                    fill="#3178C6"></path>
                                <path
                                    d="M11.7592 15.6621V17.8199C12.1102 17.9998 12.5252 18.1346 13.0044 18.2245C13.4835 18.3145 13.9885 18.3594 14.5195 18.3594C15.0368 18.3594 15.5284 18.3099 15.994 18.211C16.4596 18.1121 16.868 17.9491 17.2188 17.7222C17.5698 17.4952 17.8476 17.1984 18.0523 16.832C18.257 16.4657 18.3594 16.0128 18.3594 15.4734C18.3594 15.0823 18.3009 14.7395 18.1839 14.445C18.0682 14.1525 17.8963 13.8856 17.6777 13.6595C17.4573 13.4302 17.193 13.2245 16.8848 13.0424C16.5766 12.8604 16.2291 12.6884 15.8421 12.5266C15.5587 12.4097 15.3045 12.2962 15.0795 12.1861C14.8546 12.0759 14.6634 11.9636 14.5059 11.8489C14.3484 11.7343 14.227 11.6129 14.1415 11.4848C14.056 11.3566 14.0133 11.2117 14.0133 11.0498C14.0133 10.9015 14.0515 10.7678 14.128 10.6487C14.2045 10.5295 14.3125 10.4273 14.452 10.3419C14.5914 10.2564 14.7623 10.1902 14.9648 10.1429C15.1673 10.0957 15.3923 10.0721 15.6397 10.0721C15.8197 10.0721 16.0098 10.0856 16.2099 10.1126C16.4102 10.1395 16.6115 10.1811 16.814 10.2373C17.0158 10.2933 17.2132 10.3643 17.4045 10.4498C17.5899 10.5319 17.7672 10.6313 17.9342 10.7464V8.73023C17.6058 8.60438 17.247 8.51109 16.8578 8.45039C16.4687 8.38969 16.0221 8.35938 15.5182 8.35938C15.0053 8.35938 14.5195 8.41445 14.0605 8.52461C13.6016 8.63469 13.1978 8.80664 12.8491 9.04039C12.5005 9.27422 12.2249 9.57203 12.0224 9.93391C11.82 10.2958 11.7188 10.7284 11.7188 11.232C11.7188 11.8748 11.9043 12.4232 12.2755 12.8773C12.6467 13.3312 13.2102 13.7156 13.966 14.0303C14.245 14.1439 14.5218 14.2631 14.7961 14.3877C15.0526 14.5046 15.2741 14.6259 15.4609 14.7518C15.6476 14.8777 15.7949 15.0148 15.9029 15.1631C16.0109 15.3115 16.0648 15.4801 16.0648 15.6689C16.0657 15.8048 16.0308 15.9385 15.9636 16.0566C15.8962 16.1757 15.7938 16.2791 15.6566 16.3668C15.5194 16.4545 15.3484 16.523 15.1437 16.5724C14.939 16.6219 14.6994 16.6466 14.4249 16.6466C13.957 16.6466 13.4937 16.5646 13.0348 16.4005C12.5758 16.2364 12.1506 15.9903 11.7592 15.6621ZM8.16266 10.2923H10.9375V8.51562H3.20312V10.2923H5.96445V18.2031H8.16266V10.2923Z"
                                    fill="white"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0_45_20269">
                                    <rect width="20" height="20" fill="white"
                                    ></rect>
                                </clipPath>
                            </defs>
                        </svg>
                    </Tool>
                    <Tool title="Svelte/SvelteKit">
                        <svg
                            width="20"
                            height="20"
                            viewBox="0 0 20 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M17.2521 2.6543C15.397 -0.000825362 11.7332 -0.787774 9.08413 0.899954L4.43166 3.86528C3.80316 4.26068 3.26408 4.78286 2.84887 5.39845C2.43365 6.01404 2.15145 6.70949 2.0203 7.44034C1.79835 8.67145 1.99341 9.94142 2.57458 11.0492C2.17634 11.6533 1.90472 12.3319 1.77614 13.0439C1.64361 13.7895 1.66129 14.554 1.82815 15.2927C1.99501 16.0314 2.30768 16.7293 2.74783 17.3455C4.60328 20.0009 8.26711 20.7875 10.9158 19.0998L15.5683 16.1346C16.1968 15.7392 16.736 15.217 17.1512 14.6014C17.5664 13.9858 17.8486 13.2903 17.9796 12.5594C18.2015 11.3283 18.0066 10.0584 17.4257 8.95054C17.8239 8.34643 18.0954 7.66787 18.2238 6.95586C18.3564 6.21029 18.3388 5.44573 18.1719 4.70706C18.0051 3.96839 17.6923 3.27049 17.2521 2.6543Z"
                                fill="#FF3E00"></path>
                            <path
                                d="M8.35071 17.5872C6.54587 17.9772 4.64001 17.39 3.57704 16.1165C3.25842 15.7458 3.03209 15.326 2.9113 14.8816C2.79052 14.4373 2.77773 13.9774 2.87368 13.5288C2.90618 13.3816 2.95089 13.2364 3.00751 13.0942L3.11298 12.827L3.39977 13.0022C4.06228 13.4067 4.80302 13.7143 5.59009 13.9117L5.79813 13.9642L5.77899 14.1368C5.75355 14.3824 5.83354 14.6275 6.00477 14.8288C6.16094 15.0161 6.3825 15.159 6.63953 15.2383C6.89656 15.3176 7.17667 15.3294 7.44204 15.2722C7.56375 15.2451 7.67976 15.2027 7.78602 15.1465L13.3852 12.1808C13.5223 12.1091 13.6398 12.0145 13.7304 11.9029C13.8209 11.7914 13.8826 11.6654 13.9113 11.5329C13.9401 11.3977 13.9361 11.2592 13.8997 11.1252C13.8633 10.9913 13.7952 10.8648 13.6994 10.753C13.5431 10.5657 13.3215 10.4227 13.0644 10.3434C12.8073 10.264 12.5271 10.2522 12.2616 10.3094C12.1401 10.3364 12.0242 10.3787 11.9181 10.4349L9.78142 11.567C9.43008 11.7526 9.04667 11.8926 8.64446 11.982C6.8397 12.372 4.93376 11.7848 3.87095 10.5112C3.55231 10.1406 3.32596 9.72078 3.20516 9.27643C3.08436 8.83208 3.07156 8.37216 3.16751 7.92365C3.26241 7.48403 3.46666 7.06571 3.76719 6.69545C4.06772 6.32519 4.45792 6.01114 4.91282 5.77339L10.5116 2.80735C10.8631 2.62138 11.2468 2.48127 11.6493 2.39189C13.4541 2.00183 15.36 2.58904 16.4228 3.86254C16.7415 4.23321 16.9678 4.65304 17.0886 5.09739C17.2094 5.54175 17.2222 6.00168 17.1263 6.45021C17.0936 6.59742 17.0489 6.74261 16.9924 6.88475L16.887 7.15202L16.6002 6.97715C15.9378 6.57235 15.197 6.2646 14.4099 6.06722L14.2017 6.01469L14.2209 5.84209C14.2462 5.59653 14.1662 5.35146 13.9952 5.15014C13.839 4.96284 13.6174 4.81989 13.3604 4.7406C13.1033 4.66131 12.8232 4.6495 12.5578 4.70676C12.4361 4.73381 12.3202 4.77618 12.2139 4.83241L6.6147 7.79826C6.47769 7.8699 6.36016 7.96451 6.26963 8.07604C6.17909 8.18757 6.11755 8.31357 6.08892 8.44599C6.06002 8.58116 6.06386 8.71977 6.1002 8.8537C6.13654 8.98764 6.20466 9.1142 6.30056 9.22598C6.45682 9.41332 6.67846 9.5563 6.93557 9.63563C7.19269 9.71496 7.47289 9.72682 7.73837 9.66962C7.86003 9.64253 7.976 9.60016 8.08227 9.54397L10.2186 8.41235C10.5698 8.22641 10.9532 8.08632 11.3555 7.99696C13.1602 7.60696 15.0662 8.19417 16.1291 9.46774C16.4477 9.83839 16.674 10.2582 16.7948 10.7025C16.9156 11.1469 16.9284 11.6068 16.8324 12.0553C16.7375 12.4949 16.5332 12.9133 16.2327 13.2836C15.9322 13.6539 15.542 13.968 15.0871 14.2059L9.48837 17.1717C9.13687 17.3577 8.75326 17.4978 8.35071 17.5872Z"
                                fill="white"></path>
                        </svg>
                    </Tool>
                    <Tool title="PostgreSQL"
                        ><svg
                            width="20"
                            height="20"
                            viewBox="0 0 20 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <g clip-path="url(#clip0_45_20257)">
                                <path
                                    d="M19.6415 11.9699C19.4899 11.5912 19.1869 11.3639 18.8081 11.2881L18.2021 11.3639L17.1415 11.5154C18.0506 10.0002 18.8081 8.25783 19.1869 6.59116C19.8687 4.0154 19.5657 2.80328 19.1112 2.27298C18.5584 1.55553 17.8462 0.976639 17.031 0.58216C16.2157 0.187682 15.3198 -0.0115483 14.4142 0.000251003C13.3536 0.000251003 12.3687 0.227524 11.9142 0.379039L10.4748 0.227524C9.56571 0.227524 8.65662 0.454796 7.9748 0.833584L6.23237 0.379039C4.48995 0.151766 3.05055 0.379039 2.06571 1.06086C0.853585 1.96995 0.247524 3.4851 0.323282 5.60631C0.662915 8.14726 1.37777 10.6237 2.44449 12.9548C2.9748 14.0154 3.5051 14.6215 4.18692 14.773C4.56571 14.9245 5.17177 15.0002 5.85358 14.4699L6.23237 14.773L6.91419 15.0002C7.74752 15.2275 8.58086 15.1518 9.26268 14.9245C9.26464 15.177 9.26464 15.4295 9.26268 15.6821C9.25985 16.5299 9.38761 17.3731 9.64146 18.1821C9.71722 18.4851 9.94449 19.0154 10.3233 19.3942C10.7778 19.8487 11.3081 20.0002 11.8384 20.0002L12.5203 19.9245C13.2778 19.773 14.1112 19.4699 14.7172 18.6366C15.3233 17.8033 15.5506 16.5912 15.6263 14.6215V14.4699L15.7021 14.3184L15.7778 14.3942H15.8536C16.6112 14.3942 17.5203 14.2427 18.1263 13.9396C18.5051 13.7881 19.9445 13.0306 19.6415 11.9699Z"
                                    fill="black"></path>
                                <path
                                    d="M18.5938 12.1968C16.25 12.6514 16.0938 11.8938 16.0938 11.8938C18.5938 8.33321 19.6094 3.86351 18.6719 2.8029C16.25 -0.227401 12.1094 1.21199 12.0313 1.21199L10.4688 1.06048C9.37502 1.06048 8.59377 1.36351 7.96877 1.81805C7.96877 1.81805 0.546891 -1.21225 0.859391 5.53018C0.937516 6.96957 3.04689 16.3635 5.46877 13.5605L7.18752 11.5908C7.65627 11.8938 8.12502 12.0453 8.67189 11.9696H8.75002V12.3484C8.12502 13.0302 8.28127 13.1059 7.03127 13.409C5.78127 13.6362 6.48439 14.0908 7.03127 14.2423C7.57814 14.3938 8.98439 14.5453 9.84377 13.3332V13.4847C10.0781 13.6362 10.2344 14.6968 10.2344 15.6817C10.1563 16.5908 10.1563 17.2726 10.3906 17.7271C10.5469 18.2574 10.7813 19.3938 12.4219 19.0908C13.75 18.7878 14.5313 18.0302 14.6094 16.8181C14.6875 15.909 14.8438 16.0605 14.8438 15.3029L14.9219 14.9241C15.0781 13.712 15 13.3332 15.8594 13.4847L16.0156 13.5605C16.6406 13.5605 17.5 13.409 17.9688 13.1817C18.9844 12.7271 19.6094 11.9696 18.5938 12.1968Z"
                                    fill="#336791"></path>
                                <path
                                    d="M8.4375 6.212H7.96875L7.89062 6.36352L7.96875 6.5908C8.04688 6.74232 8.20313 6.81808 8.35938 6.81808H8.4375C8.67188 6.81808 8.90625 6.66656 8.90625 6.51504C8.98438 6.36352 8.67188 6.212 8.4375 6.212ZM15.3906 6.212C15.3906 6.06048 15.0781 5.98472 14.8438 6.06048C14.6094 6.06048 14.375 6.13624 14.375 6.28776C14.4531 6.43928 14.6094 6.5908 14.8438 6.5908H14.9219L15.2344 6.43928L15.3906 6.212Z"
                                    fill="white"></path>
                                <path
                                    d="M19.375 12.1209C19.2969 11.8936 18.9844 11.7421 18.5156 11.8936C17.1094 12.1209 16.6406 11.9694 16.4063 11.8179C17.5 10.2269 18.4375 8.25725 18.9063 6.43906C19.1406 5.60573 19.2969 4.7724 19.2969 4.16634C19.2969 3.40876 19.1406 2.87846 18.9063 2.57543C18.3808 1.92038 17.7042 1.39406 16.9307 1.0388C16.1573 0.683542 15.3087 0.509259 14.4531 0.529973C13.2031 0.529973 12.1094 0.833003 11.875 0.984518C11.4844 0.833003 10.9375 0.757245 10.4688 0.757245C9.45314 0.757245 8.67189 0.984518 7.96876 1.43906C7.65626 1.28755 6.87501 1.06028 5.93751 0.908761C4.29689 0.681488 3.04689 0.833003 2.10939 1.51482C1.01564 2.2724 0.468765 3.63603 0.625015 5.52997C0.625015 6.13603 1.01564 8.18149 1.64064 10.0754C2.42189 12.5754 3.28126 13.9391 4.14064 14.2421L4.53126 14.3179C4.84376 14.3179 5.23439 14.1663 5.62501 13.636L7.26564 11.9694C7.57814 12.1209 7.96876 12.1966 8.35939 12.1966V12.2724L8.20314 12.4997C7.89064 12.8785 7.81251 12.8785 6.95314 13.1057C6.71876 13.1057 6.01564 13.2572 6.01564 13.7118C6.01564 14.2421 6.79689 14.4694 6.87501 14.4694L7.81251 14.5451C8.51564 14.5451 9.14064 14.3179 9.68751 13.9391C9.60939 15.6815 9.68751 17.4239 9.92189 17.9542C10.1563 18.4088 10.5469 19.4694 11.9531 19.4694L12.6563 19.3936C14.0625 19.0906 14.6875 18.4845 14.9219 17.1209L15.3906 13.7118L16.25 13.7875C16.875 13.7875 17.5781 13.636 18.0469 13.4088C18.5938 13.1815 19.5313 12.6512 19.375 12.1209ZM15.9375 5.833L15.8594 6.59058L15.7031 7.49967L15.7813 8.56028C15.8594 9.24209 16.0156 9.99967 15.625 10.6815L15.4688 10.3785L15.2344 9.92391C14.6875 9.01482 13.5156 6.96937 14.1406 6.13603C14.2969 5.90876 14.7656 5.68149 15.9375 5.833ZM14.5313 1.13603C16.1719 1.13603 17.5 1.74209 18.4375 2.87846C19.1406 3.78755 18.3594 7.8027 16.0938 11.2875L16.0156 11.2118C16.5625 10.2269 16.4844 9.31785 16.4063 8.48452L16.3281 7.49967L16.4063 6.66634C16.4788 6.26638 16.505 5.85982 16.4844 5.45422C16.4844 5.07543 16.0156 3.93906 15.0781 2.87846C14.6094 2.34815 13.8281 1.66634 12.8906 1.28755L14.5313 1.13603ZM5.23439 13.333C4.76564 13.8633 4.45314 13.7875 4.29689 13.7118C3.67189 13.4845 2.81251 12.1209 2.18751 9.84815C1.56251 7.95422 1.17189 6.06028 1.17189 5.52997C1.09376 3.78755 1.48439 2.57543 2.42189 1.96937C3.98439 0.908761 6.48439 1.51482 7.42189 1.81785V1.89361C5.78126 3.48452 5.78126 6.21179 5.78126 6.43906V6.66634C5.85939 7.19664 5.93751 8.02997 5.78126 9.01482C5.70536 9.48586 5.75129 9.96781 5.91492 10.4174C6.07855 10.867 6.35477 11.2701 6.71876 11.5906L5.23439 13.333ZM6.95314 11.0603C6.48439 10.53 6.25001 9.84815 6.32814 9.09058C6.48439 8.02997 6.40626 7.12088 6.40626 6.66634V6.51482C6.64064 6.28755 7.73439 5.68149 8.51564 5.90876C8.90626 5.98452 9.14064 6.21179 9.21876 6.59058C9.68751 8.71179 9.29689 9.62088 8.90626 10.3785L8.75001 10.7572L8.67189 10.9088L8.43751 11.6663C7.89064 11.6663 7.34376 11.4391 6.95314 11.0603ZM7.03126 13.9391L6.64064 13.7875L7.10939 13.636C8.12501 13.4088 8.28126 13.2572 8.59376 12.8785L8.90626 12.4997C9.14064 12.2724 9.21876 12.3482 9.37501 12.4239C9.45314 12.4239 9.60939 12.5754 9.68751 12.8027L9.60939 13.1057C8.90626 14.0906 7.81251 14.0906 7.03126 13.9391ZM12.5 18.8633C11.25 19.0906 10.7813 18.4845 10.4688 17.7269C10.1905 16.0493 10.1119 14.3462 10.2344 12.6512C10.0781 12.2724 9.84376 11.9694 9.60939 11.8936C9.45314 11.8179 9.21876 11.7421 8.98439 11.8179L9.21876 11.0603L9.29689 10.9845L9.45314 10.6057C9.84376 9.84815 10.3125 8.78755 9.76564 6.51482C9.60939 5.60573 8.90626 5.22694 7.96876 5.3027C7.41693 5.37767 6.88587 5.55791 6.40626 5.833C6.48439 4.92391 6.79689 3.333 7.81251 2.2724C8.51564 1.66634 9.37501 1.28755 10.4688 1.36331C12.5781 1.36331 13.9063 2.42391 14.6875 3.333C15.3125 4.09058 15.7031 4.84815 15.8594 5.22694C14.7656 5.15119 14.0625 5.3027 13.6719 5.833C12.8906 6.96937 14.1406 9.16634 14.6875 10.1512L14.9219 10.6057L15.5469 11.5906L15.7031 11.7421C15.3906 11.8936 14.8438 12.0451 14.8438 13.1057L14.375 16.9694C14.1406 18.1815 13.75 18.5603 12.5 18.8633ZM17.8125 12.9542C17.5 13.1057 16.9531 13.1815 16.4063 13.1815C15.7813 13.2572 15.5469 13.1815 15.4688 13.1057C15.3906 12.4239 15.7031 12.3482 15.9375 12.2724H16.0938L16.1719 12.3482C16.6406 12.6512 17.4219 12.6512 18.5938 12.4239H18.6719L17.8125 12.9542Z"
                                    fill="white"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0_45_20257">
                                    <rect
                                        width="20"
                                        height="20.0005"
                                        fill="white"
                                        transform="translate(0 -0.000244141)"
                                    ></rect>
                                </clipPath>
                            </defs>
                        </svg>
                    </Tool>
                    <Tool title="Supabase"
                        ><svg
                            width="20"
                            height="20"
                            viewBox="0 0 20 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <g clip-path="url(#clip0_45_20263)">
                                <g clip-path="url(#clip1_45_20263)">
                                    <path
                                        d="M11.6297 19.5194C11.1236 20.1567 10.0974 19.8075 10.0852 18.9937L9.90686 7.09082H17.9103C19.36 7.09082 20.1685 8.76517 19.2671 9.9005L11.6297 19.5194Z"
                                        fill="url(#paint0_linear_45_20263)"
                                    ></path>
                                    <path
                                        d="M11.6297 19.5194C11.1236 20.1567 10.0974 19.8075 10.0852 18.9937L9.90686 7.09082H17.9103C19.36 7.09082 20.1685 8.76517 19.2671 9.9005L11.6297 19.5194Z"
                                        fill="url(#paint1_linear_45_20263)"
                                        fill-opacity="0.2"></path>
                                    <path
                                        d="M8.37474 0.36653C8.88085 -0.270886 9.90704 0.0783723 9.91924 0.892189L9.99738 12.7951H2.09406C0.644367 12.7951 -0.164152 11.1207 0.737308 9.98537L8.37474 0.36653Z"
                                        fill="#3ECF8E"></path>
                                </g>
                            </g>
                            <defs>
                                <linearGradient
                                    id="paint0_linear_45_20263"
                                    x1="9.90686"
                                    y1="9.72999"
                                    x2="17.0201"
                                    y2="12.7133"
                                    gradientUnits="userSpaceOnUse"
                                >
                                    <stop stop-color="#249361"></stop>
                                    <stop offset="1" stop-color="#3ECF8E"
                                    ></stop>
                                </linearGradient>
                                <linearGradient
                                    id="paint1_linear_45_20263"
                                    x1="6.75323"
                                    y1="5.41211"
                                    x2="9.99723"
                                    y2="11.5188"
                                    gradientUnits="userSpaceOnUse"
                                >
                                    <stop></stop>
                                    <stop offset="1" stop-opacity="0"></stop>
                                </linearGradient>
                                <clipPath id="clip0_45_20263">
                                    <rect width="20" height="20" fill="white"
                                    ></rect>
                                </clipPath>
                                <clipPath id="clip1_45_20263">
                                    <rect
                                        width="19.292"
                                        height="20"
                                        fill="white"
                                        transform="translate(0.354004)"></rect>
                                </clipPath>
                            </defs>
                        </svg>
                    </Tool>
                    <Tool title="React"
                        ><svg
                            width="20"
                            height="20"
                            viewBox="0 0 20 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M16.444 6.83416C16.2311 6.76029 16.0165 6.69186 15.8002 6.62893C15.8366 6.47877 15.87 6.33044 15.8997 6.18471C16.387 3.79166 16.0684 1.86376 14.9802 1.22901C13.9369 0.620493 12.2305 1.25501 10.5073 2.77211C10.3374 2.9219 10.1714 3.076 10.0092 3.23427C9.90067 3.12903 9.79021 3.02582 9.67789 2.92472C7.8718 1.30259 6.06148 0.618912 4.97445 1.25548C3.93203 1.8659 3.62336 3.67825 4.06211 5.9462C4.10576 6.17082 4.15505 6.39428 4.20992 6.61636C3.95367 6.69002 3.70641 6.76841 3.46977 6.85187C1.35227 7.59868 0 8.76901 0 9.98296C0 11.2367 1.45172 12.4943 3.65719 13.2569C3.83599 13.3184 4.01628 13.3755 4.19789 13.428C4.13891 13.6672 4.08654 13.908 4.04086 14.1501C3.62258 16.3787 3.94922 18.1482 4.98883 18.7548C6.06258 19.3812 7.86477 18.7374 9.61953 17.1857C9.76182 17.0595 9.90098 16.9298 10.0369 16.7966C10.2125 16.968 10.3927 17.1344 10.5775 17.2956C12.2773 18.7752 13.9561 19.3726 14.9947 18.7644C16.0674 18.1362 16.4161 16.2353 15.9634 13.9225C15.9278 13.7413 15.8878 13.561 15.8435 13.3818C15.9701 13.3439 16.0943 13.3048 16.2154 13.2642C18.5082 12.4958 20 11.2535 20 9.98296C20 8.76458 18.6041 7.58635 16.444 6.83416ZM15.9467 12.4439C15.8373 12.4805 15.7252 12.5158 15.6108 12.5502C15.3577 11.7396 15.0161 10.8777 14.598 9.98715C14.997 9.11784 15.3254 8.26694 15.5714 7.46165C15.776 7.52155 15.9745 7.58469 16.1659 7.65131C18.0167 8.29587 19.1456 9.24871 19.1456 9.98296C19.1456 10.765 17.9264 11.7803 15.9467 12.4439ZM15.1253 14.0904C15.3255 15.113 15.354 16.0376 15.2214 16.7605C15.1023 17.41 14.8628 17.843 14.5666 18.0165C13.9363 18.3856 12.5884 17.9059 11.1348 16.6405C10.9629 16.4906 10.7952 16.3359 10.6319 16.1766C11.1955 15.5531 11.7587 14.8283 12.3084 14.0234C13.2752 13.9366 14.1887 13.7947 15.017 13.601C15.0578 13.7675 15.0941 13.9307 15.1253 14.0904ZM6.81844 17.9527C6.20266 18.1727 5.71219 18.179 5.4157 18.0061C4.78484 17.638 4.52258 16.2172 4.88031 14.3113C4.92284 14.0861 4.97153 13.8622 5.02633 13.6397C5.84555 13.823 6.75234 13.9548 7.72148 14.0343C8.27492 14.822 8.85437 15.546 9.43836 16.18C9.31425 16.3014 9.18721 16.4198 9.05734 16.535C8.28133 17.2211 7.50375 17.7079 6.81844 17.9527ZM3.93359 12.4391C2.95836 12.1019 2.15297 11.6637 1.60094 11.1855C1.10484 10.7558 0.854453 10.3291 0.854453 9.98296C0.854453 9.24626 1.94016 8.30662 3.75102 7.66799C3.97078 7.59054 4.20078 7.51744 4.43945 7.44884C4.68977 8.27232 5.01805 9.13333 5.41422 10.004C5.01289 10.8875 4.67992 11.7623 4.42719 12.5955C4.26141 12.5474 4.09683 12.4953 3.93359 12.4391ZM4.90063 5.78016C4.52477 3.8371 4.77437 2.37136 5.40258 2.00349C6.07164 1.61166 7.55117 2.17031 9.11062 3.57101C9.21231 3.66256 9.31236 3.75596 9.4107 3.85117C8.82961 4.48236 8.25547 5.20097 7.70695 5.98398C6.76633 6.07217 5.86594 6.21379 5.03812 6.40354C4.98712 6.19697 4.94127 5.98906 4.90063 5.78016ZM13.5277 7.9351C13.3322 7.59346 13.1294 7.25612 12.9195 6.92331C13.5577 7.00494 14.1691 7.11329 14.7432 7.24574C14.5709 7.80463 14.356 8.38889 14.1031 8.98792C13.9183 8.63314 13.7264 8.28213 13.5277 7.9351ZM10.0096 4.46885C10.4037 4.90074 10.7984 5.38289 11.1866 5.90606C10.3991 5.86843 9.61025 5.86828 8.82273 5.90558C9.21133 5.38724 9.60938 4.90572 10.0096 4.46885ZM6.46891 7.94103C6.27268 8.28527 6.08443 8.63409 5.9043 8.98721C5.65555 8.39031 5.44266 7.80336 5.26883 7.23657C5.83945 7.10744 6.44797 7.00186 7.08203 6.92173C6.8698 7.25657 6.66537 7.59648 6.46891 7.94103ZM7.10023 13.1057C6.44516 13.0317 5.8275 12.9316 5.25703 12.8059C5.43359 12.229 5.65117 11.6296 5.90531 11.0199C6.08616 11.3733 6.2752 11.7223 6.47227 12.0667C6.67492 12.4207 6.88477 12.7675 7.10023 13.1057ZM10.0332 15.5579C9.6282 15.116 9.2243 14.6271 8.82984 14.1012C9.21281 14.1164 9.6032 14.1241 10 14.1241C10.4077 14.1241 10.8106 14.1149 11.2073 14.097C10.8178 14.6323 10.4246 15.122 10.0332 15.5579ZM14.1112 10.9888C14.3785 11.6052 14.6038 12.2014 14.7827 12.7685C14.2029 12.9023 13.5768 13.0101 12.9171 13.0902C13.1285 12.7512 13.3332 12.408 13.5311 12.0608C13.7323 11.7078 13.9257 11.3504 14.1112 10.9888ZM12.791 11.629C12.4881 12.1613 12.1681 12.6836 11.8316 13.1949C11.222 13.2386 10.6111 13.2603 10 13.2599C9.37758 13.2599 8.77219 13.2403 8.18922 13.2021C7.84392 12.692 7.51783 12.1688 7.21164 11.6337C6.90689 11.1015 6.62231 10.5577 6.35836 10.0036C6.62164 9.44936 6.90543 8.90534 7.20914 8.37268L7.20906 8.37276C7.51266 7.83997 7.83614 7.31904 8.17883 6.81109C8.77359 6.76557 9.38352 6.74186 9.99992 6.74186C10.6191 6.74186 11.2299 6.7658 11.8245 6.81164C12.1638 7.31883 12.4852 7.83797 12.7882 8.3681C13.0929 8.89958 13.3805 9.44095 13.6504 9.99134C13.3832 10.5474 13.0966 11.0936 12.791 11.629ZM14.5535 1.97772C15.2232 2.36844 15.4837 3.94402 15.0629 6.01022C15.036 6.14203 15.0059 6.2763 14.973 6.41247C14.1432 6.21869 13.2422 6.07462 12.2988 5.98508C11.7493 5.19346 11.1798 4.47375 10.6082 3.85069C10.758 3.70461 10.9114 3.56231 11.0682 3.42394C12.5448 2.12416 13.9248 1.61095 14.5535 1.97772ZM10 8.17638C10.9863 8.17638 11.7859 8.98523 11.7859 9.98296C11.7859 10.9807 10.9863 11.7895 10 11.7895C9.01367 11.7895 8.21406 10.9807 8.21406 9.98296C8.21406 8.98523 9.01367 8.17638 10 8.17638Z"
                                fill="#00D8FF"></path>
                        </svg>
                    </Tool>
                    <Tool title="NextJS"
                        ><svg
                            width="20"
                            height="20"
                            viewBox="0 0 20 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <g clip-path="url(#clip0_45_20279)">
                                <mask
                                    id="mask0_45_20279"
                                    style="mask-type:alpha"
                                    maskUnits="userSpaceOnUse"
                                    x="0"
                                    y="0"
                                    width="20"
                                    height="20"
                                >
                                    <path
                                        d="M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20Z"
                                        fill="black"></path>
                                </mask>
                                <g mask="url(#mask0_45_20279)">
                                    <path
                                        d="M9.99998 19.6666C15.3387 19.6666 19.6666 15.3387 19.6666 9.99992C19.6666 4.66117 15.3387 0.333252 9.99998 0.333252C4.66123 0.333252 0.333313 4.66117 0.333313 9.99992C0.333313 15.3387 4.66123 19.6666 9.99998 19.6666Z"
                                        fill="black"
                                        stroke="white"
                                        stroke-width="6"></path>
                                    <path
                                        d="M16.612 17.5022L7.68244 6H6V13.9967H7.34596V7.70929L15.5554 18.3161C15.9259 18.0682 16.2788 17.7961 16.612 17.5022Z"
                                        fill="url(#paint0_linear_45_20279)"
                                    ></path>
                                    <path
                                        d="M14.1111 6H12.7778V14H14.1111V6Z"
                                        fill="url(#paint1_linear_45_20279)"
                                    ></path>
                                </g>
                            </g>
                            <defs>
                                <linearGradient
                                    id="paint0_linear_45_20279"
                                    x1="12.1111"
                                    y1="12.9444"
                                    x2="16.0556"
                                    y2="17.8333"
                                    gradientUnits="userSpaceOnUse"
                                >
                                    <stop stop-color="white"></stop>
                                    <stop
                                        offset="1"
                                        stop-color="white"
                                        stop-opacity="0"></stop>
                                </linearGradient>
                                <linearGradient
                                    id="paint1_linear_45_20279"
                                    x1="13.4444"
                                    y1="6"
                                    x2="13.4221"
                                    y2="11.875"
                                    gradientUnits="userSpaceOnUse"
                                >
                                    <stop stop-color="white"></stop>
                                    <stop
                                        offset="1"
                                        stop-color="white"
                                        stop-opacity="0"></stop>
                                </linearGradient>
                                <clipPath id="clip0_45_20279">
                                    <rect width="20" height="20" fill="white"
                                    ></rect>
                                </clipPath>
                            </defs>
                        </svg>
                    </Tool>

                    <li class="flex items-center justify-center gap-2">
                        <span class="inline-block">
                            <svg
                                width="11"
                                height="12"
                                viewBox="0 0 11 12"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M0.593695 8.23429C0.499945 6.53117 1.85932 5.48429 3.2812 4.95304C2.81245 4.51554 2.32807 3.90617 2.29682 3.2343C2.2187 1.56242 3.98432 0.640545 5.4062 0.56242C6.23432 0.515545 8.29682 0.65617 8.3437 1.70305C8.39057 2.62492 7.9687 3.93742 7.35932 3.96867C6.8437 3.99992 6.92182 1.93742 4.82807 2.2343C4.04682 2.34367 3.3437 2.89055 3.39057 3.74992C3.4062 4.12492 3.5937 4.43742 3.8437 4.70304C4.0937 4.57804 4.43745 4.51555 4.7812 4.51555C5.4062 4.51555 6.0312 4.73429 6.06245 5.21867C6.0937 5.81242 5.73432 6.03117 5.2812 6.03117C4.70307 6.03117 3.9687 5.67179 3.70307 5.37492C3.01557 5.82804 2.68745 6.48429 2.73432 7.32804C2.81245 9.01554 4.04682 10.2655 5.74995 10.2968C7.01557 10.3124 8.95307 9.76554 8.95307 7.95304C8.95307 7.12492 8.39057 6.95304 7.98432 6.87492C6.70307 7.26554 5.29682 7.90617 6.24995 9.06242L5.99995 9.34367C3.56245 6.62492 6.6562 5.59367 8.51557 4.81242C9.54682 4.39054 9.24995 3.24992 8.43745 3.26555L8.48432 2.8593C10.7031 2.62492 11.3749 5.60929 9.64057 6.43742C9.87495 6.79679 10.0468 7.35929 9.99995 8.01554C9.82807 10.453 7.12495 11.4062 5.31245 11.4999C3.31245 11.6093 0.76557 10.8437 0.593695 8.23429Z"
                                    fill="#525252"></path>
                            </svg>
                        </span>
                        <p class="inline-block">various analytics tools</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid grid-cols-3 md:grid-cols-8" id="faq">
            <div
                class="flex flex-col gap-10 col-span-3 items-center border border-neutral-300 bg-white border-dashed px-5 py-10 md:col-start-3 md:col-span-4"
            >
                <h2 class="text-4xl font-bold text-neutral-900 text-center">
                    FAQ
                </h2>
                <Accordion client:only="svelte" />
                <Button href="/book-a-call" class="hidden md:block w-fit"
                    >Book a call -&gt;</Button
                >
            </div>
        </div>
    </div>

    <style>
        .marquee {
            display: flex;
            block-size: var(--marquee-item-height);
            margin-block: var(--marquee-item-height);
            position: relative;
            overflow: hidden;
            mask-image: linear-gradient(
                to right,
                hsl(0 0% 0% / 0),
                hsl(0 0% 0% / 1) 20%,
                hsl(0 0% 0% / 1) 80%,
                hsl(0 0% 0% / 0)
            );
            grid-column: span 3 / span 3;
        }

        .marquee--7 {
            --marquee-item-width: 120px;
            --marquee-item-height: 36px;
            --marquee-duration: 30s;
            --marquee-items: 7;
        }

        .marquee--omega {
            --marquee-max-width: min(600px, 90vw);
            max-inline-size: var(--marquee-max-width);
            margin-inline: auto;
            mask-image: linear-gradient(
                to right,
                hsl(0 0% 0% / 0),
                hsl(0 0% 0% / 1) 10%,
                hsl(0 0% 0% / 1) 90%,
                hsl(0 0% 0% / 0)
            );
        }

        .marquee__item {
            --marquee-item-offset: max(
                calc(var(--marquee-item-width) * var(--marquee-items)),
                calc(100% + var(--marquee-item-width))
            );
            --marquee-delay: calc(
                var(--marquee-duration) / var(--marquee-items) *
                    (var(--marquee-items) - var(--marquee-item-index)) * -1
            );
            position: absolute;
            inset-inline-start: var(--marquee-item-offset);
            transform: translateX(-50%);
            animation: go linear var(--marquee-duration)
                var(--marquee-delay, 0s) infinite;
        }

        .marquee__item:nth-child(3n) {
            border-top-right-radius: 1rem;
        }

        .marquee__item:nth-child(3n + 1) {
            border-bottom-right-radius: 1rem;
        }

        .marquee__item:nth-child(3n + 2) {
            border-bottom-left-radius: 1rem;
        }

        .marquee__item:nth-child(3n + 3) {
            border-bottom-left-radius: 1rem;
        }

        .marquee__item:nth-child(3n + 4) {
            border-bottom-left-radius: 1rem;
        }

        .marquee__item:nth-child(3n + 5) {
            border-bottom-left-radius: 1rem;
        }

        .marquee__item:nth-child(3n + 6) {
            border-bottom-left-radius: 1rem;
        }

        .marquee--7 .marquee__item:nth-of-type(1) {
            --marquee-item-index: 1;
        }

        .marquee--7 .marquee__item:nth-of-type(2) {
            --marquee-item-index: 2;
        }

        .marquee--7 .marquee__item:nth-of-type(3) {
            --marquee-item-index: 3;
        }

        .marquee--7 .marquee__item:nth-of-type(4) {
            --marquee-item-index: 4;
        }

        .marquee--7 .marquee__item:nth-of-type(5) {
            --marquee-item-index: 5;
        }

        .marquee--7 .marquee__item:nth-of-type(6) {
            --marquee-item-index: 6;
        }

        .marquee--7 .marquee__item:nth-of-type(7) {
            --marquee-item-index: 7;
        }

        @keyframes go {
            to {
                inset-inline-start: calc(var(--marquee-item-width) * -1);
            }
        }

        @media (prefers-reduced-motion) {
            .marquee {
                justify-content: space-evenly;
                mask-image: unset;
            }

            .marquee__item {
                position: unset;
                inset-inline-start: unset;
                transform: unset;
            }

            @keyframes go {
                to {
                    inset-inline-start: unset;
                }
            }
        }
    </style>
</Layout>
