---
interface Props {
    title: string;
}

import "$lib/styles/app.css";

import PostHog from "../components/posthog.astro";

import { SEOMetadata } from "astro-seo-metadata";

const { title } = Astro.props;

import { Image } from "astro:assets";

import brandmark from "/src/images/brandmark.png";

import meta_image from "/src/images/meta-image.jpg";
import favicon from "/src/images/favicon.png";

import "@fontsource-variable/plus-jakarta-sans";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <SEOMetadata
            siteName={"Rectangle Services"}
            title={title}
            description={"Full-stack, senior product design services for independent developers, founders and SaaS companies."}
            image={meta_image.src}
            favicon={favicon.src}
            author="Charlie Coppinger"
            copyright="© 2025 Charlie Coppinger. All rights reserved."
            astroSitemap={true}
            canonicalUrl={Astro.url.toString()}
            type={"website"}
            astroGenerator={true}
        />
        <PostHog />
    </head>
    <body class="bg-neutral-50">
        <div
            class="hidden md:flex bg-white h-14 border-b border-dashed border-neutral-300"
        >
            <!-- Top bar -->
            <div
                class="max-w-screen-xl w-full flex items-center justify-between mx-auto p-5"
            >
                <a href="/">Rectangle Services</a>
                <div class="flex items-center gap-10">
                    <a class="underline" href="/#services">Services</a>
                    <a class="underline" href="/#faq">FAQ</a>
                    <!-- TODO: add a booking page link with an embeded cal.com widget -->
                    <a class="underline" href="/book-a-call"
                        >Book a call -&gt;</a
                    >
                </div>
            </div>
        </div>
        <main
            class="max-w-screen-xl p-5 md:py-20 relative grid grid-cols-3 md:grid-cols-8 gap-20 md:gap-y-20 md:gap-x-0 md:mx-auto md:w-full"
        >
            <div
                class="col-span-3 md:col-span-8 grid md:grid-cols-8 grid-cols-3"
            >
                <a href="/">
                    <Image
                        src={brandmark}
                        alt="Brandmark"
                        loading={"eager"}
                        class="col-span-1"
                    /></a
                >
            </div>
            <slot />
            <div
                class="max-w-screen-xl fixed -z-10 top-0 w-full px-5 h-screen border-dashed border-neutral-300 grid grid-cols-3 md:grid-cols-8 left-1/2 transform -translate-x-1/2"
            >
                <div
                    class="grid-cols-1 border-l border-dashed border-neutral-300 h-full"
                >
                </div>
                <div
                    class="grid-cols-1 border-l border-dashed border-neutral-300 h-full"
                >
                </div>
                <div
                    class="grid-cols-1 border-x md:border-l md:border-r-0 border-dashed border-neutral-300 h-full"
                >
                </div>
                <!-- extra 5 columns bigger viewports -->
                <div
                    class="hidden md:block grid-cols-1 border-l border-dashed border-neutral-300 h-full"
                >
                </div>
                <div
                    class="hidden md:block grid-cols-1 border-l border-dashed border-neutral-300 h-full"
                >
                </div>
                <div
                    class="hidden md:block grid-cols-1 border-x border-dashed border-neutral-300 h-full"
                >
                </div>
                <div
                    class="hidden md:block grid-cols-1 border-r border-dashed border-neutral-300 h-full"
                >
                </div>
                <div
                    class="hidden md:block grid-cols-1 border-r border-dashed border-neutral-300 h-full"
                >
                </div>
            </div>
        </main>
        <footer class="flex flex-col gap-10 col-span-3 py-20 items-center p-5">
            <Image src={brandmark} alt="Brandmark" width={155} />
            <a
                href="https://twitter.com/thecoppinger"
                target="_blank"
                aria-label="@TheCoppinger on Twitter"
                class="hover:rotate-180
                transition-all
                ease-linear
                duration-150
                delay-100"
            >
                <svg
                    width="33"
                    height="27"
                    viewBox="0 0 33 27"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <g clip-path="url(#clip0_45_20228)">
                        <path
                            d="M32.5 23.1663C31.3225 22.6391 30.0572 22.2828 28.7292 22.1225C30.0849 22.9429 31.1258 24.242 31.6159 25.7899C30.3272 25.0177 28.9173 24.4737 27.447 24.1813C26.2494 25.4695 24.5432 26.2747 22.6549 26.2747C19.0291 26.2747 16.0895 23.3066 16.0895 19.646C16.0895 19.1264 16.1476 18.6205 16.2595 18.1352C10.8032 18.4118 5.96575 21.0507 2.72762 25.0613C2.16262 24.0822 1.83888 22.9434 1.83888 21.7287C1.83888 19.4289 2.998 17.4 4.7595 16.2112C3.71694 16.2442 2.69731 16.5285 1.78575 17.0405C1.78538 17.0127 1.78537 16.9849 1.78537 16.957C1.78537 13.7453 4.04837 11.0661 7.05162 10.4571C6.08486 10.1916 5.07079 10.1528 4.08687 10.3435C4.92225 7.70996 7.34688 5.79355 10.2196 5.73991C7.97275 3.96208 5.14188 2.90228 2.06613 2.90228C1.53613 2.90228 1.01363 2.93371 0.5 2.99492C3.40538 1.1141 6.85625 0.0166862 10.5638 0.0166862C22.6396 0.0166862 29.243 10.1176 29.243 18.8772C29.243 19.1647 29.2368 19.4506 29.224 19.7348C30.5093 20.673 31.6186 21.835 32.5 23.1663Z"
                            fill="#55ACEE"></path>
                        <path
                            d="M21.5 21C22.2293 20.3206 22.9784 19.6611 23.7131 18.9869C23.8482 18.8629 24.2485 18.5064 24.3935 18.3072C24.5378 18.1088 24.4074 18.2012 24.5 18"
                            stroke="white"
                            stroke-linecap="round"></path>
                        <path
                            d="M21.5 18C22.4265 18.7927 23.2374 19.7471 24.0767 20.6658C24.1643 20.7616 24.2744 20.8961 24.3885 20.9678C24.5054 21.0413 24.4414 20.9703 24.5 20.9389"
                            stroke="white"
                            stroke-linecap="round"></path>
                    </g>
                    <defs>
                        <clipPath id="clip0_45_20228">
                            <rect
                                width="32"
                                height="26.3784"
                                fill="white"
                                transform="matrix(1 0 0 -1 0.5 26.3784)"></rect>
                        </clipPath>
                    </defs>
                </svg>
            </a>
            <p class="text-center">
                Made with love, <a
                    href="https://twitch.tv/thecoppinger"
                    target="_blank"
                    class="underline underline-offset-4">live on Twitch</a
                >, from Wellington, New Zealand
            </p>
        </footer>
        <div
            class="hidden md:block bg-white h-14 border-t border-dashed border-neutral-300"
        >
        </div>
    </body>
</html>
